.App {
  text-align: center;
}


.main-div{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
button{
  margin: 10px;
}

.greencolor{
  color: green;
  font-size: 50px;
}
.redcolor{
  font-size: 50px;
  color:red;
}
button{
  font-size: larger;
  border-radius: 3px;
}